<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="34061StillAtTheBottom.Hearthopedia" Publisher="CN=3D63ECE5-EA86-4677-A426-E0691BE66FFB" Version="1.2.22.14" />
  <Properties>
    <DisplayName>Hearthopedia</DisplayName>
    <PublisherDisplayName>Still At The Bottom</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HearthopediaWindows.App">
      <VisualElements DisplayName="Hearthopedia" Logo="Assets\Logo.png" SmallLogo="Assets\Logo_Small.png" Description="HearthopediaWindows" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Logo_Wide.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>